<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deliveryinsider.report.domain.report.mapper.ReportReadMapper">

    <resultMap
            id="reportSummaryResultMap"
            type="com.deliveryinsider.report.domain.report.projection.ReportSummaryProjection">

        <result
                column="total_order_count"
                property="totalOrderCount"/>

        <result
                column="completed_order_count"
                property="completedOrderCount"/>

        <result
                column="canceled_order_count"
                property="canceledOrderCount"/>

        <result
                column="gross_order_amount"
                property="grossOrderAmount"/>

        <result
                column="customer_paid_amount"
                property="customerPaidAmount"/>

        <result
                column="provider_charge_amount"
                property="providerChargeAmount"/>

        <result
                column="estimated_menu_cost"
                property="estimatedMenuCost"/>

        <result
                column="estimated_packaging_cost"
                property="estimatedPackagingCost"/>

    </resultMap>

    <sql id="orderFilter">

        WHERE store_id = #{storeId}

        <if test="from != null">
            AND ordered_at
            <![CDATA[ >= ]]>
            #{from}
        </if>

        <if test="to != null">
            AND ordered_at
            <![CDATA[ <= ]]>
            #{to}
        </if>

        <if test="platformType != null and platformType != ''">
            AND platform_type = #{platformType}
        </if>

        <if test="status != null and status != ''">
            AND status = #{status}
        </if>

    </sql>

    <select
            id="findSummary"
            resultMap="reportSummaryResultMap">

        WITH filtered_orders AS (
        SELECT
        ro.order_id,
        ro.status,
        ro.gross_order_amount,
        ro.customer_paid_amount

        FROM report_orders ro

        WHERE ro.store_id = #{storeId}

        <if test="from != null">
            AND ro.ordered_at
            <![CDATA[ >= ]]>
            #{from}
        </if>

        <if test="to != null">
            AND ro.ordered_at
            <![CDATA[ <= ]]>
            #{to}
        </if>

        <if test="platformType != null and platformType != ''">
            AND ro.platform_type = #{platformType}
        </if>
        ),
        completed_items_by_order AS (
        SELECT
        fo.order_id,

        COALESCE(
        SUM(
        ri.ordered_unit_price * ri.quantity
        ),
        0
        ) AS item_order_amount,

        COALESCE(
        SUM(
        ri.menu_cost * ri.quantity
        ),
        0
        ) AS menu_cost,

        COALESCE(
        SUM(
        ri.packaging_cost * ri.quantity
        ),
        0
        ) AS packaging_cost

        FROM filtered_orders fo

        INNER JOIN report_order_items ri
        ON ri.order_id = fo.order_id

        WHERE fo.status = 'DELIVERED'

        GROUP BY
        fo.order_id
        ),
        order_summary AS (
        SELECT
        COUNT(*) AS total_order_count,

        COALESCE(
        SUM(
        CASE
        WHEN fo.status = 'DELIVERED'
        THEN 1
        ELSE 0
        END
        ),
        0
        ) AS completed_order_count,

        COALESCE(
        SUM(
        CASE
        WHEN fo.status = 'CANCELED'
        THEN 1
        ELSE 0
        END
        ),
        0
        ) AS canceled_order_count,

        COALESCE(
        SUM(
        CASE
        WHEN fo.status = 'DELIVERED'
        THEN COALESCE(
            fo.gross_order_amount,
            ci.item_order_amount,
            0
        )
        ELSE 0
        END
        ),
        0
        ) AS gross_order_amount,

        COALESCE(
        SUM(
        CASE
        WHEN fo.status = 'DELIVERED'
        THEN COALESCE(
            fo.customer_paid_amount,
            0
        )
        ELSE 0
        END
        ),
        0
        ) AS customer_paid_amount

        FROM filtered_orders fo

        LEFT JOIN completed_items_by_order ci
        ON ci.order_id = fo.order_id
        ),
        completed_charges AS (
        SELECT
        COALESCE(
        SUM(rc.amount),
        0
        ) AS provider_charge_amount

        FROM filtered_orders fo

        INNER JOIN report_order_charges rc
        ON rc.order_id = fo.order_id

        WHERE fo.status = 'DELIVERED'
        ),
        completed_item_totals AS (
        SELECT
        COALESCE(
        SUM(menu_cost),
        0
        ) AS estimated_menu_cost,

        COALESCE(
        SUM(packaging_cost),
        0
        ) AS estimated_packaging_cost

        FROM completed_items_by_order
        )
        SELECT
        os.total_order_count,
        os.completed_order_count,
        os.canceled_order_count,
        os.gross_order_amount,
        os.customer_paid_amount,

        COALESCE(
        cc.provider_charge_amount,
        0
        ) AS provider_charge_amount,

        COALESCE(
        cit.estimated_menu_cost,
        0
        ) AS estimated_menu_cost,

        COALESCE(
        cit.estimated_packaging_cost,
        0
        ) AS estimated_packaging_cost

        FROM order_summary os

        CROSS JOIN completed_charges cc
        CROSS JOIN completed_item_totals cit

    </select>

    <select
            id="findFinancialDataStatuses"
            resultType="java.lang.String">

        SELECT DISTINCT
        provider_financial_data_status

        FROM report_orders

        WHERE store_id = #{storeId}

        AND status = 'DELIVERED'

        AND provider_financial_data_status IS NOT NULL

        <if test="from != null">
            AND ordered_at
            <![CDATA[ >= ]]>
            #{from}
        </if>

        <if test="to != null">
            AND ordered_at
            <![CDATA[ <= ]]>
            #{to}
        </if>

        <if test="platformType != null and platformType != ''">
            AND platform_type = #{platformType}
        </if>

        ORDER BY provider_financial_data_status

    </select>

    <select
            id="findOrders"
            resultType="com.deliveryinsider.report.domain.report.projection.ReportOrderProjection">

        SELECT
        order_id AS orderId,
        platform_type AS platformType,
        platform_order_id AS platformOrderId,
        status,
        ordered_at AS orderedAt,
        gross_order_amount AS grossOrderAmount,
        customer_paid_amount AS customerPaidAmount,
        provider_financial_data_status AS financialDataStatus

        FROM report_orders

        <include refid="orderFilter"/>

        ORDER BY

        <choose>
            <when test="sortBy == 'grossOrderAmount'">
                gross_order_amount
            </when>

            <when test="sortBy == 'status'">
                status
            </when>

            <otherwise>
                ordered_at
            </otherwise>
        </choose>

        <choose>
            <when test="direction == 'asc'">
                ASC
            </when>

            <otherwise>
                DESC
            </otherwise>
        </choose>

        LIMIT #{size}
        OFFSET #{offset}

    </select>

    <select
            id="countOrders"
            resultType="long">

        SELECT COUNT(*)

        FROM report_orders

        <include refid="orderFilter"/>

    </select>

    <select
            id="findMenuPerformance"
            resultType="com.deliveryinsider.report.domain.report.projection.ReportMenuPerformanceProjection">

        SELECT
        ri.menu_id AS menuId,
        ri.menu_name AS menuName,

        COUNT(
        DISTINCT ro.order_id
        ) AS orderCount,

        COALESCE(
        SUM(ri.quantity),
        0
        ) AS soldQuantity,

        COALESCE(
        SUM(
        ri.ordered_unit_price
        * ri.quantity
        ),
        0
        ) AS grossSales,

        COALESCE(
        SUM(
        ri.menu_cost
        * ri.quantity
        ),
        0
        ) AS estimatedMenuCost,

        COALESCE(
        SUM(
        ri.packaging_cost
        * ri.quantity
        ),
        0
        ) AS estimatedPackagingCost

        FROM report_order_items ri

        INNER JOIN report_orders ro
        ON ro.order_id = ri.order_id

        WHERE ro.store_id = #{storeId}

        AND ro.status = 'DELIVERED'

        <if test="from != null">
            AND ro.ordered_at
            <![CDATA[ >= ]]>
            #{from}
        </if>

        <if test="to != null">
            AND ro.ordered_at
            <![CDATA[ <= ]]>
            #{to}
        </if>

        <if test="platformType != null and platformType != ''">
            AND ro.platform_type = #{platformType}
        </if>

        GROUP BY
        ri.menu_id,
        ri.menu_name

        ORDER BY
        grossSales DESC,
        soldQuantity DESC,
        ri.menu_id ASC

    </select>

    <select
            id="findDailyTrend"
            resultType="com.deliveryinsider.report.domain.report.projection.ReportDailyTrendProjection">

        WITH filtered_orders AS (
        SELECT
        ro.order_id,
        ro.ordered_at,
        ro.status,
        COALESCE(
            ro.gross_order_amount,
            (
                SELECT SUM(ri.ordered_unit_price * ri.quantity)
                FROM report_order_items ri
                WHERE ri.order_id = ro.order_id
            )
        ) AS gross_order_amount,
        ro.customer_paid_amount,
        ro.provider_financial_data_status
        FROM report_orders ro
        WHERE ro.store_id = #{storeId}

        <if test="from != null">
            AND ro.ordered_at <![CDATA[ >= ]]> #{from}
        </if>

        <if test="to != null">
            AND ro.ordered_at <![CDATA[ <= ]]> #{to}
        </if>

        <if test="platformType != null">
            AND ro.platform_type = #{platformType}
        </if>
        ),
        daily_orders AS (
        SELECT
        DATE(ordered_at) AS reportDate,

        COUNT(*) AS totalOrderCount,

        COALESCE(
        SUM(
        CASE
        WHEN status = 'DELIVERED'
        THEN 1
        ELSE 0
        END
        ),
        0
        ) AS completedOrderCount,

        COALESCE(
        SUM(
        CASE
        WHEN status = 'CANCELED'
        THEN 1
        ELSE 0
        END
        ),
        0
        ) AS canceledOrderCount,

        COALESCE(
        SUM(
        CASE
        WHEN status = 'DELIVERED'
        THEN gross_order_amount
        ELSE 0
        END
        ),
        0
        ) AS grossSales,

        COALESCE(
        SUM(
        CASE
        WHEN status = 'DELIVERED'
        THEN customer_paid_amount
        ELSE 0
        END
        ),
        0
        ) AS customerPaidAmount,

        GROUP_CONCAT(
        DISTINCT
        CASE
        WHEN status = 'DELIVERED'
        THEN provider_financial_data_status
        ELSE NULL
        END
        ORDER BY provider_financial_data_status
        SEPARATOR ','
        ) AS financialDataStatusesCsv

        FROM filtered_orders
        GROUP BY DATE(ordered_at)
        ),
        daily_charges AS (
        SELECT
        DATE(fo.ordered_at) AS reportDate,

        COALESCE(
        SUM(rc.amount),
        0
        ) AS providerChargeAmount

        FROM filtered_orders fo
        INNER JOIN report_order_charges rc
        ON rc.order_id = fo.order_id

        WHERE fo.status = 'DELIVERED'

        GROUP BY DATE(fo.ordered_at)
        ),
        daily_items AS (
        SELECT
        DATE(fo.ordered_at) AS reportDate,

        COALESCE(
        SUM(
        ri.menu_cost * ri.quantity
        ),
        0
        ) AS estimatedMenuCost,

        COALESCE(
        SUM(
        ri.packaging_cost * ri.quantity
        ),
        0
        ) AS estimatedPackagingCost

        FROM filtered_orders fo
        INNER JOIN report_order_items ri
        ON ri.order_id = fo.order_id

        WHERE fo.status = 'DELIVERED'

        GROUP BY DATE(fo.ordered_at)
        )
        SELECT
        d.reportDate,
        d.totalOrderCount,
        d.completedOrderCount,
        d.canceledOrderCount,
        d.grossSales,
        d.customerPaidAmount,

        COALESCE(
        c.providerChargeAmount,
        0
        ) AS providerChargeAmount,

        COALESCE(
        i.estimatedMenuCost,
        0
        ) AS estimatedMenuCost,

        COALESCE(
        i.estimatedPackagingCost,
        0
        ) AS estimatedPackagingCost,

        d.financialDataStatusesCsv

        FROM daily_orders d
        LEFT JOIN daily_charges c
        ON c.reportDate = d.reportDate
        LEFT JOIN daily_items i
        ON i.reportDate = d.reportDate

        ORDER BY d.reportDate ASC

    </select>
    <select
            id="findProcessingTimeSummary"
            resultType="com.deliveryinsider.report.domain.report.projection.ReportProcessingTimeProjection">

        SELECT
        COUNT(*) AS completedOrderCount,

        COUNT(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.ordered_at
        THEN 1
        END
        ) AS totalProcessingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.ordered_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.ordered_at,
        ro.completed_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageTotalProcessingSeconds,

        COUNT(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.cooking_started_at IS NOT NULL
        AND ro.cooking_started_at >= ro.ordered_at
        THEN 1
        END
        ) AS waitingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.cooking_started_at IS NOT NULL
        AND ro.cooking_started_at >= ro.ordered_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.ordered_at,
        ro.cooking_started_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageWaitingSeconds,

        COUNT(
        CASE
        WHEN ro.cooking_started_at IS NOT NULL
        AND ro.ready_for_pickup_at IS NOT NULL
        AND ro.ready_for_pickup_at >= ro.cooking_started_at
        THEN 1
        END
        ) AS cookingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.cooking_started_at IS NOT NULL
        AND ro.ready_for_pickup_at IS NOT NULL
        AND ro.ready_for_pickup_at >= ro.cooking_started_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.cooking_started_at,
        ro.ready_for_pickup_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageCookingSeconds,

        COUNT(
        CASE
        WHEN ro.ready_for_pickup_at IS NOT NULL
        AND ro.picked_up_at IS NOT NULL
        AND ro.picked_up_at >= ro.ready_for_pickup_at
        THEN 1
        END
        ) AS pickupWaitingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.ready_for_pickup_at IS NOT NULL
        AND ro.picked_up_at IS NOT NULL
        AND ro.picked_up_at >= ro.ready_for_pickup_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.ready_for_pickup_at,
        ro.picked_up_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averagePickupWaitingSeconds,

        COUNT(
        CASE
        WHEN ro.picked_up_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.picked_up_at
        THEN 1
        END
        ) AS deliverySampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.picked_up_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.picked_up_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.picked_up_at,
        ro.completed_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageDeliverySeconds

        FROM report_orders ro

        WHERE ro.store_id = #{storeId}

        AND ro.operation_status = 'COMPLETED'

        <if test="from != null">
            AND ro.ordered_at
            <![CDATA[ >= ]]>
            #{from}
        </if>

        <if test="to != null">
            AND ro.ordered_at
            <![CDATA[ <= ]]>
            #{to}
        </if>

        <if test="platformType != null and platformType != ''">
            AND ro.platform_type = #{platformType}
        </if>

    </select>


    <select
            id="findProcessingTimeByPlatform"
            resultType="com.deliveryinsider.report.domain.report.projection.ReportPlatformProcessingTimeProjection">

        SELECT
        ro.platform_type AS platformType,

        COUNT(*) AS completedOrderCount,

        COUNT(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.ordered_at
        THEN 1
        END
        ) AS totalProcessingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.ordered_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.ordered_at,
        ro.completed_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageTotalProcessingSeconds,

        COUNT(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.cooking_started_at IS NOT NULL
        AND ro.cooking_started_at >= ro.ordered_at
        THEN 1
        END
        ) AS waitingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.ordered_at IS NOT NULL
        AND ro.cooking_started_at IS NOT NULL
        AND ro.cooking_started_at >= ro.ordered_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.ordered_at,
        ro.cooking_started_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageWaitingSeconds,

        COUNT(
        CASE
        WHEN ro.cooking_started_at IS NOT NULL
        AND ro.ready_for_pickup_at IS NOT NULL
        AND ro.ready_for_pickup_at >= ro.cooking_started_at
        THEN 1
        END
        ) AS cookingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.cooking_started_at IS NOT NULL
        AND ro.ready_for_pickup_at IS NOT NULL
        AND ro.ready_for_pickup_at >= ro.cooking_started_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.cooking_started_at,
        ro.ready_for_pickup_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageCookingSeconds,

        COUNT(
        CASE
        WHEN ro.ready_for_pickup_at IS NOT NULL
        AND ro.picked_up_at IS NOT NULL
        AND ro.picked_up_at >= ro.ready_for_pickup_at
        THEN 1
        END
        ) AS pickupWaitingSampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.ready_for_pickup_at IS NOT NULL
        AND ro.picked_up_at IS NOT NULL
        AND ro.picked_up_at >= ro.ready_for_pickup_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.ready_for_pickup_at,
        ro.picked_up_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averagePickupWaitingSeconds,

        COUNT(
        CASE
        WHEN ro.picked_up_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.picked_up_at
        THEN 1
        END
        ) AS deliverySampleCount,

        CAST(
        ROUND(
        AVG(
        CASE
        WHEN ro.picked_up_at IS NOT NULL
        AND ro.completed_at IS NOT NULL
        AND ro.completed_at >= ro.picked_up_at
        THEN TIMESTAMPDIFF(
        SECOND,
        ro.picked_up_at,
        ro.completed_at
        )
        END
        )
        )
        AS SIGNED
        ) AS averageDeliverySeconds

        FROM report_orders ro

        WHERE ro.store_id = #{storeId}

        AND ro.operation_status = 'COMPLETED'

        <if test="from != null">
            AND ro.ordered_at
            <![CDATA[ >= ]]>
            #{from}
        </if>

        <if test="to != null">
            AND ro.ordered_at
            <![CDATA[ <= ]]>
            #{to}
        </if>

        <if test="platformType != null and platformType != ''">
            AND ro.platform_type = #{platformType}
        </if>

        GROUP BY
        ro.platform_type

        ORDER BY
        completedOrderCount DESC,
        ro.platform_type ASC

    </select>
</mapper>
