<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deliveryinsider.auth.mapper.UserMapper">

    <resultMap
            id="userResultMap"
            type="com.deliveryinsider.auth.entity.UserEntity">

        <id property="id" column="id"/>
        <result property="email" column="email"/>
        <result property="passwordHash" column="password_hash"/>
        <result
                property="status"
                column="status"
                javaType="com.deliveryinsider.auth.entity.UserStatus"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <insert
            id="insert"
            useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO users (
            email,
            password_hash,
            status
        )
        VALUES (
                   #{email},
                   #{passwordHash},
                   #{status}
               )

    </insert>

    <select
            id="findByEmail"
            resultMap="userResultMap">

        SELECT
            id,
            email,
            password_hash,
            status,
            created_at,
            updated_at
        FROM users
        WHERE email = #{email}

    </select>

    <select
            id="findById"
            resultMap="userResultMap">

        SELECT
            id,
            email,
            password_hash,
            status,
            created_at,
            updated_at
        FROM users
        WHERE id = #{id}

    </select>

    <update id="updateStatus">
        UPDATE users
        SET status = #{status}
        WHERE id = #{id}
        AND status != #{status}
    </update>

</mapper>
